.some-selector {
  $lineHeight: 1.4;
  $fontSize: 16px;
  $paddingVrt: 10px;
  $lines: 4;
  $height: calc($fontSize * $lineHeight * $lines + $paddingVrt * 2);
  font-size: $height;
  /*    background: aqua;*/
  color: black;
  border: 1px solid #fff;
}
